<!--Head Section-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!---Link References For UI-->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  	<link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<!--Body Start-->
<body>
  <!--Header Section-->
  <header>
		<a class="logo"><img src="../../../../assets/img/Homescreen/logo_png.png"></a>
		<div class="bx bx-menu" id="menu-icon"></div>
		<ul class="navlist">
			<!--Navbar-->
			<li><a (click)="toHome()" class="navbarlist">Home</a></li>
			<li><a (click)="toAbout()" class="navbarlist">About</a></li>
			<li><a (click)="toProjects()" class="navbarlist">Projects</a></li>
			<li><a (click)="toTeam()" class="navbarlist">Our Team</a></li>
			<li><a (click)="toContact()" class="navbarlist">Contact</a></li>
			<li><a routerLink="/Es" class="navbarlist">Change To Es</a></li>
		</ul>
		<a href="#" class="top-btn">Discover NYX</a>
	</header>
  <!--Main Section-->
  <section class="home" id="home">
		<div class="home-text">
			<h3>Meet A</h3>
			<h1>New World</h1>
			<h5>With Us Every Idea <span>Is Possible</span></h5>
			<p>Find out who we are, what we do, what we have done<br> and discover new projects we are developing just for you.</p>
			<div class="social">
				<a href="https://www.facebook.com/gaming/TheMarduckProject"><i class='bx bxl-facebook'></i></a>
				<a href="https://twitter.com/MarduckProject"><i class='bx bxl-twitter' ></i></a>
				<a href="https://www.instagram.com/the_marduck_project/"><i class='bx bxl-instagram'></i></a>
				<a href="https://discord.gg/rjXsfEmEBW"><i class='bx bxl-discord'></i></a>
			</div>
			<a href="#" class="btn">Learn More</a>
		</div>
		<div class="home-img">
			<img src="../../../../assets/img/Homescreen/main.png">
		</div>
	</section>
	<!--About Us Section-->
	<section class="about" id="about">
		<div class="about-img">
			<img src="../../../../assets/img/Homescreen/about.png">
		</div>
		<div class="about-text">
			<h3>ABOUT US</h3>
			<h2>We are a studio of indie developers</h2>
			<p>We are a group of people who seek to develop quality and innovative software without the pressure of a large company and where each person will be listened to and taken into account for all the projects that are carried out in THE MARDUCK PROJECT.</p>
			<a href="#" class="btn">Find out more about us</a>
		</div>
	</section>
	<!--Projects Section-->
	<section class="portfolio" id="projects">
		<div class="heading">
			<h3>PROJECTS</h3>
			<h2>All our works and projects</h2>
			<p>Much more about us and enjoy the other projects developed by THE MARDUCK PROJECT.</p>
		</div>
		<div class="portfolio-content">
			<div class="col">
				<img src="../../../../assets/img/Projects/stay_and_play.png">
				<div class="layer">
					<h3>Stay And Play</h3>
					<h5>2020</h5>
				</div>
			</div>
			<div class="col">
				<img src="../../../../assets/img/Projects/animal_paws.png">
				<div class="layer">
					<h3>Animal Paws</h3>
					<h5>2021-2022</h5>
				</div>
			</div>
			<div class="col">
				<img src="../../../../assets/img/Projects/nyx.png">
				<div class="layer">
					<h3>NYX</h3>
					<h5>2022-2024</h5>
				</div>
			</div>
    </div>
	</section>

	<section class="service" id="team">
		<div class="heading">
			<h3>OUR TEAM</h3>
			<h2>Who we are and what we do</h2>
			<p>Here you can see information about each member and their role within THE MARDUCK PROJECT.</p>
		</div>

		<div class="service-content">
			<div class="row">
				<div class="s s-one">
					<img src="../../../../../assets/img/Team/julian.png">
				</div>
				<h3>Julián Lozada <span>Æ✗1</span></h3>
				<h5>CEO & FULLSTACK DEVELOPER</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>

			<div class="row">
				<div class="s s-one">
					<img src="../../../../../assets/img/Team/valentina.png">
				</div>
        <h3>Valentina López</h3>
				<h5>PIXELART & ANIMATOR ARTIST</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>

			<div class="row">
				<div class="s s-one">
					<img src="../../../../../assets/img/Team/mariana.png">
				</div>
        <h3>Mariana Tacán</h3>
				<h5>CHARACTER DESIGNER</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>
      <div class="row">
        <div class="s s-one">
					<img src="../../../../../assets/img/Team/edgar.png">
				</div>
        <h3>Edgar Marqués <span>Chempay</span></h3>
				<h5>MUSIC COMPOSER</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>
      <div class="row">
        <div class="s s-one">
					<img src="../../../../../assets/img/Team/manuela.png">
				</div>
        <h3>Manuela Serna <span>Yuimsv</span></h3>
				<h5>KAIRI VOICE ACTRESS</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>
      <div class="row">
        <div class="s s-one">
					<img src="../../../../../assets/img/Team/angie.png">
				</div>
        <h3>Angie Lugo <span>Humming Moon</span></h3>
				<h5>CHARACTER & BACKGROUND ARTIST</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>
      <div class="row">
        <div class="s s-one">
					<img src="../../../../../assets/img/Team/nicole.png">
				</div>
        <h3>Nicole Isaramá <span>Nayla</span></h3>
				<h5>LILLY VOICE ACTRESS</h5>
        <h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
			</div>
			<div class="row">
				<div class="s s-one">
							<img src="../../../../../assets/img/Team/johan.png">
						</div>
				<h3>Johan Castro</h3>
						<h5>SCREENWRITER</h5>
				<h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
					</div>
					<div class="row">
					<div class="s s-one">
							<img src="../../../../../assets/img/Team/dulce.png">
						</div>
				<h3>Dulce García</h3>
								<h5>3D ARTIST & SCREENWRITER</h5>
				<h5 href="#" class="dev-btn"><span>See More About Me</span></h5>
						</div>
					
		</div>
	</section>


	<section class="cta" id="contact">
		<div class="heading">
			<h3>CONTACT</h3>
			<h2>Do you want to promote yourself or look for an opportunity with us?</h2>
			<P>Contact THE MARDUCK PROJECT for your promotional projects or any questions you may have about us.</P>
		</div>

		<div class="cta-box">
			<a href="https://twitter.com/MarduckProject"><div class="wrap one">
			<h3>Twitter</h3>
			</div></a>

		<a href="mailto:themarduckprojectbusiness@gmail.com"><div class="wrap two">
        <h3>Email</h3>
			</div></a>
		</div>
	</section>
	<div class="ends">
		<p>THE MARDUCK PROJECT © 2022</p>
	</div>
</body>
